body {
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent-hover);
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

code,
pre {
  font-family: var(--font-mono);
  font-feature-settings: var(--mono-font-features);
  font-size: 0.85em;
  white-space: pre;
  overflow: auto;
  hyphens: none;
}

:not(pre) > code {
  padding: 1px 3px;
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  white-space: pre-wrap;
}

pre {
  margin: var(--space-md) 0;
  padding: var(--space-md);
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 5px;
  color: #dfe1e2;
}

pre code {
  padding: 0;
  background: none;
  border: none;
}
